.flex {
    display: flex;
}

.glass_card {
    background: rgb(185,251,255);
    background: linear-gradient(180deg, rgba(185,251,255,0.2) 0%, rgba(227,220,255,1) 100%);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: solid 3px #fff;
    margin: 100px 10% 0px;
}

.table_dapplets {
    /* background-color: aqua; */
}

.tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px 0px 0px;
    padding: 0px 20px;
    justify-content: center;
    align-content: center;
    height: 100%;
    background-color: aqua;
}
.tags span {
    background-color: #5241BF;
    color: white;
    border: solid 1px white;
    border-radius: 25%;
    font: 0.7rem "Fira Sans", sans-serif;
    padding: 2px 5px;
}
.content {
    display: none;
}
.hidden_search {
    display: none;
}

.search_panel {
    display: flex;
    justify-content: space-between;
}

.search_panel::after {
    border: solid 1px #fff;
}

.search_input {
    background: url('../../assets/images/menu/search.svg')  no-repeat scroll 3px 3px;
    background-color: #fff;
    height: 20px;
    padding: 5px 5px 5px 25px;
    margin: 20px;
    border-radius: 10px;
}

.search_dropdown {
    background-color: #fff;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    height: auto;
}